@font-face {
  font-family: "iconfont"; /* Project id 3646211 */
  src: url('iconfont.woff2?t=1663547964698') format('woff2'),
       url('iconfont.woff?t=1663547964698') format('woff'),
       url('iconfont.ttf?t=1663547964698') format('truetype');
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-quanqiu:before {
  content: "\e6c7";
}

.icon-weibo:before {
  content: "\e657";
}

.icon-weixin-copy:before {
  content: "\e65b";
}

.icon-weixin:before {
  content: "\e658";
}

.icon-weibo-copy:before {
  content: "\e653";
}

.icon-search:before {
  content: "\e6a4";
}

.icon-yonghu:before {
  content: "\e633";
}

.icon-jiantoushang:before {
  content: "\e62c";
}

.icon-jiantoushang1:before {
  content: "\e62d";
}

.icon-jiantouyou:before {
  content: "\e62e";
}

.icon-jiantouxia:before {
  content: "\e62f";
}

